{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Combat</title>
    <link rel="stylesheet" href="{% static 'pages/js/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'pages/css/combat.css' %}">
</head>
<body>
<div id="currentTurn"></div>
<div><ol id="initiativeOrder"></ol></div>
<div><ul id="delayedList"></ul></div>
<div id="controlPanel">
    <button id="nextButton">Next</button>
    <button id="prevButton">Previous</button>
    <button id="delayButton">Delay</button>
</div>
</body>
</html>
<script src="{% static 'pages/js/external/jquery/jquery.js' %}"></script>
<script src="{% static 'pages/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'pages/js/external/cll/index.js' %}"></script>
<script>


</script>