{% extends 'base.html' %}
{% load static %}
{% block header %}

    <link rel="stylesheet" href="{% static 'pages/css/combat.css' %}">
{% endblock %}



{% block content %}
    <div id="mainView">

        <div id="turnDisplay">
            <div id="currentTurnBlock">
                <h3>Current Turn</h3>
                <div id="currentTurn"></div>
            </div>
            <div id="currentImage"></div>
            <div id="controlPanel">

                <button id="prevButton">Previous</button>
                <button id="delayButton">Delay</button>
                <button id="nextButton">Next</button>
            </div>
        </div>
        <div id="lists">
            <div id="initiativeOrderBlock">
                <h3>Initiative Order</h3>
                <div>
                    <ol id="initiativeOrder"></ol>
                </div>
            </div>
            <div id="delaying">
                <h3>Delaying</h3>
                <div>
                    <ul id="delayed_list"></ul>
                </div>
            </div>

        </div>

    </div>
    <div><span id="currentSession" style="visibility: hidden">{{ session.id }}</span></div>
{% endblock %}

{% block js %}
    <script src="{% static 'pages/js/combat.js' %}"></script>
    {#<script src="{% static 'pages/js/external/cll/index.js' %}"></script>#}
    <script>

        sessionId = $('#currentSession').html()
        index = 0;
        $.ajax({
            url: {% url 'initiative_tracker' %},
            type: 'POST',
            data: {
                pk: sessionId
            },
            success: function (data) {

                $.each(data.data, function (index, ob) {
                    redrawInitiative(ob)
                });
                $('#currentTurn').html(data.data[index].name);
                $('#currentImage').html("<img src='" + data.data[index].picture + "'>");
            }
        });

        $('#nextButton').click(function () {
            $.ajax({
                url: {% url 'next_turn' %},
                type: 'POST',
                data: {
                    pk: sessionId,
                },
                success: function (data, current) {
                    console.log(data);
                    console.log(current);
                    $('#initiativeOrder').html('');
                    $.each(data.data, function (index, ob) {
                        redrawInitiative(ob)
                    });
                    $('#currentTurn').html(data.data[index].name)
                    $('#currentImage').html("<img src='" + data.data[index].picture + "'>")
                }
            })
        });

        $('#prevButton').click(function () {
            $.ajax({
                url: {% url 'previous_turn' %},
                type: 'POST',
                data: {
                    pk: sessionId,
                },
                success: function (data, current) {
                    console.log(data);
                    console.log(current);
                    $('#initiativeOrder').html('');
                    $.each(data.data, function (index, ob) {
                        redrawInitiative(ob)
                    });
                    $('#currentTurn').html(data.data[index].name)
                    $('#currentImage').html("<img src='" + data.data[index].picture + "'>")
                }
            })
        });

        $('#delayButton').click(function () {
            $.ajax({
                url: {% url 'delay_turn' %},
                type: 'POST',
                data: {
                    pk: sessionId
                },
                success: function (data) {

                    $('#initiativeOrder').html('');
                    $.each(data.data, function (index, ob) {
                        redrawInitiative(ob)
                    });
                    $('#currentTurn').html(data.data[index].name);
                    $('#currentImage').html("<img src='" + data.data[index].picture + "'>")
                    $('#delayed_list').html('');

                    $.each(data.delayed, function (index, ob) {
                        console.log(ob)
                        var char_type = (ob.char_type).toString();
                        console.log(char_type)
                        $('#delayed_list').append("<li class='delayed_list_item'>" +
                            "<button onclick=\"resumePlayer(" + ob.id + ", '" + char_type + "')\">" + ob.name + "</button></li>")

                    })


                }
            })
        });


        function resumePlayer(id, char_type) {
            $.ajax({
                url: {% url 'resume_menu' %},
                type: 'POST',
                data: {
                    pk: sessionId,

                    id: id,
                    char_type: char_type,

                },
                success: function (data) {
                    console.log(data)
                    $('#initiativeOrder').html('');
                    $.each(data.data, function (index, ob) {
                        redrawInitiative(ob)
                    });
                    $('#currentTurn').html(data.data[index].name);
                    $('#currentImage').html("<img src='" + data.data[index].picture + "'>");
                    $('#delayed_list').html('');

                    $.each(data.delayed, function (index, ob) {

                        var char_type = (ob.char_type).toString();
                        $('#delayed_list').append("<li class='delayed_list_item'>" +
                            "<button onclick=\"resumePlayer(" + ob.id + ", '" + char_type + "')\">" + ob.name + "</button></li>")

                    })
                }

            })
        };

        function kill(id, char_type) {
            console.log(char_type)
            $.ajax({
                url: {% url 'kill' %},
                type: 'POST',
                data: {
                    pk: sessionId,

                    id: id,
                    char_type: char_type,

                },
                success: function (data) {
                    console.log(data.data);
                    $('#initiativeOrder').html('');

                    $.each(data.data, function (index, ob) {

                        redrawInitiative(ob)
                    });


                    $('#currentTurn').html(data.data[index].name);
                    $('#currentImage').html("<img src='" + data.data[index].picture + "'>");
                    $('#delayed_list').html('');

                    $.each(data.delayed, function (index, ob) {

                        var char_type = (ob.char_type).toString();
                        $('#delayed_list').append("<li class='delayed_list_item'>" +
                            "<button onclick=\"resumePlayer(" + ob.id + ", '" + char_type + "')\">" + ob.name + "</button></li>")

                    })
                }

            })

        }

        function redrawInitiative(ob) {

            console.log(ob)
            var li = document.createElement('li');
            li.className = 'charListItem';
            li.innerHTML = "<div id='charMenu" + ob.char_type + ob.id + "' title='Kill'>" +
                "<button id='kill"+ ob.char_type + ob.id +"' onclick=\"kill(" + ob.id + ", '" + ob.char_type + "')\">Kill</button></div>"
                + ob.name;
            $('#initiativeOrder').append(li);
            $(function () {
                $("#charMenu"  + ob.char_type + ob.id).dialog({
                    autoOpen: false,
                    show: {
                        effect: "blind",
                        duration: 1000
                    },
                    hide: {
                        effect: "explode",
                        duration: 1000
                    }
                });

                $(li).on("click", function () {
                    $("#charMenu" + ob.char_type + ob.id).dialog("open");
                });
            });
        }
    </script>

{% endblock %}