body{

    font-size: 2em;
    background-color: #0b3e6f;
    text-align: center;
}
#mainView{
    display: flex;
}
}
#lists{
    width: 30%;
    justify-content: space-around ;
    background-color: green;
    list-style: none;

}

#turnDisplay{
    justify-items: left;
    width: 70%;
    background-color: #7852b2;
    border-radius: 25px;
}

#currentTurnBlock {
    background-color: #000000;
    color: white;
    align-items: center;
    width: 70%;
    height: 20%;
    padding: 1em;
    border-radius: 25px;
    display: block;
    margin: auto;
}

#currentImage{
    width: 75%;
    height: 14em;
    display: block;
    margin: auto;


}

#currentImage img{
     max-width: 100%;
    max-height: 100%;
    border: #0b3e6f;
     border-radius: 25px;


}


